footer.p-3
  .container.text-center
    nav.d-flex.justify-content-evenly
      a(href="https://api.whatsapp.com/send?phone=2216394155" target="_blank")
        i.bi.bi-whatsapp.fs-3
      a(href="https://www.facebook.com" target="_blank")
        i.bi.bi-facebook.fs-3
      a(href="https://www.youtube.com" target="_blank")
        i.bi.bi-youtube.fs-3
      a(href="https://www.twitter.com" target="_blank")
        i.bi.bi-twitter.fs-3
      a(href="https://www.instagram.com" target="_blank")
        i.bi.bi-instagram.fs-3
    small.copy(style="color: #E836B0;") © EnglishVibes
